#%RAML 1.0
title: sut
version: v1
description: System Under Test API
baseUri: https://api.flexio.io/archive
mediaType: application/json

annotationTypes: !include https://raw.githubusercontent.com/flexiooss/poom-api-specs/1.27.0/apis/core/annotation-types/codingmatters.raml

/structured/{uparam}:
  displayName: structured content
  uriParameters:
    uparam: string
  get:
    queryParameters:
      qparam: string
    responses:
      200:
        body: Struct
      500:
        body: Error
  post:
    body: Struct
    responses:
      200:
        body: Struct
      500:
        body: Error

/file:
  displayName: file content

  post:
    body: file
    responses:
      200:
        body: Struct
      500:
        body: Error


types:
  Struct:
    type: object
    properties:
      prop: string

  Message: !include https://raw.githubusercontent.com/flexiooss/poom-api-specs/1.27.0/apis/core/types/message.raml
  Error: !include https://raw.githubusercontent.com/flexiooss/poom-api-specs/1.27.0/apis/core/types/error-with-messages.raml

traits:
  rfc7233Browsing: !include https://raw.githubusercontent.com/flexiooss/poom-api-specs/1.27.0/apis/core/traits/collection/rfc7233-browse-collection.raml
  entityCreation: !include https://raw.githubusercontent.com/flexiooss/poom-api-specs/1.27.0/apis/core/traits/collection/create.raml
  entityRetrieve: !include https://raw.githubusercontent.com/flexiooss/poom-api-specs/1.27.0/apis/core/traits/entity/retrieve.raml
  entityReplace: !include https://raw.githubusercontent.com/flexiooss/poom-api-specs/1.27.0/apis/core/traits/entity/replace.raml
  entityUpdate: !include https://raw.githubusercontent.com/flexiooss/poom-api-specs/1.27.0/apis/core/traits/entity/update.raml
  entityDelete: !include https://raw.githubusercontent.com/flexiooss/poom-api-specs/1.27.0/apis/core/traits/entity/delete.raml
